@import 'normalize';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background: url('images/clouds.jpg');
    background-size: cover;
    font-family: 'Roboto Mono';
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    color: $white;
    transform: translate(-50%, -50%);

    #name {
        font-size: 8px;
    }

    #fsse {
        font-size: 18px;
        text-align: center;

        span {
            display: inline-block;
            position: relative;

            &:before, &:after {
                content: "";
                position: absolute;
                height: 3px;
                width: 27px;
                margin-top: 10px;
                background: $white;
            }

            &:before {
                right: 100%;
                margin-right: 15px;  
            }

            &:after {
                left: 100%;
                margin-left: 15px;   
            }
        }
    }
    
}